<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <!-- Enable Firebase analytics for `prod` builds -->
        <meta-data
            tools:replace="android:value"
            android:name="firebase_analytics_collection_deactivated"
            android:value="false" />
    </application>
</manifest>